---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Antichamber",
    "genre": "Puzzle box",
    "excludeFromRecent": true,
    "icon": "antichamber-icon.png",
    "tier": "PuzzleBox",
    "tierJustification": "I played this one before any others on this list. Back then, I thought it was the coolest game I'd ever played. It's hard for me to rate it now that I've played many more such games. As a puzzle box game, it lacks worldbuilding, so the epiphanies don't hit as hard. It's also the shortest game in this list.",
    "summary": "Chewnic",
    "score": 6.5,
    "twists": 2,
    "mystery": 3,
    "agency": 4,
    "worldbuilding": 1,
    "length": "5 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/219890/Antichamber/"
    }]
}
---
<p>
    <em>Antichamber</em> is the most difficult game in the <a href="/epiphanygames/">Epiphany Games list</a>
    for me to rate, because it is the first one I played.
    I played it ten years ago, three years before I played the second-longest-ago-played game in the list, Subnautica.
    Back then, I thought it was the coolest game I had ever played, and I tried to get my friends to play it
    (although not as zealously as I now try to get my friends to play <a href="/epiphanygames/outerwilds/">Outer Wilds</a>).
</p>
<p>
    I replayed it recently before writing this review. Is it still a cool game?
    Yeah, but it's not as mind-blowing as it was, and it only took me 2 hours to beat again.
</p>
<p>
    <em>Antichamber</em> pioneered a non-Portal version of "non-Euclidean geometry",
    which is now seen in other games such as <a href="/epiphanygames/lingo/">Lingo</a>.
    It is used very tastefully, and not overdone.
</p>
<p>
    The puzzles in Antichamber feature one of two themes:
    Physics not working the way you would expect it to,
    or manipulation of blocks of matter.
</p>
<p>
    The block-of-matter puzzles can be circumvented by progressing further.
</p>
<p>
    Antichamber is a short game, so it doesn't make sense to waste a bunch of bytes on this review.
    Just check it out and see if you like it as much as I did.
</p>