---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Chants of Sennaar",
    "genre": "Language puzzle",
    "excludeFromRecent": true,
    "icon": "chantsofsennaar-icon.png",
    "tier": "Borderline",
    "tierJustification": "After each stage, the nature of the world is revealed a little more, and the final puzzle ties it all together very nicely. It's mostly a linear word puzzle game rather than an Epiphany Game, but I really liked it.",
    "summary": "Chewnic",
    "score": 8,
    "twists": 2,
    "mystery": 3,
    "agency": 3,
    "worldbuilding": 5,
    "length": "10 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1931770/Chants_of_Sennaar/"
    }]
}
---
<p>

</p>