---
{
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "EMUUROM",
    "createDate": "2026-06-18",
    "updateDate": "2026-07-03",
    "genre": "Metroidvania",
    "tier": "C",
    "tierJustification": "A few good epiphany moments were scattered throughout a tedious scavenger hunt. Most of the gameplay involves an exhaustive sweep of a world that's difficult to navigate. I wish there were more puzzles. It seems the final ending is not done yet, so I'll have to revisit this one later.",
    "screenshot": "emuurom.png",
    "icon": "emuurom-icon.png",
    "summary": "A multi-layered scavenger hunt in a labyrinthian world.",
    "score": 6,
    "twists": 3,
    "mystery": 2,
    "agency": 3,
    "worldbuilding": 2,
    "length": "50 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1634360/EMUUROM/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "link.njk" import externalLink %}
{% from "sidenote.njk" import sidenote %}
<p>
    The player's sole piece of equipment in EMUUROM is the SKANNER,
    a combination of Subnautica's scanner and Metroid's X-Ray Scope.
    Thus the directive is: Scan all the creatures, and look for secret paths.
    A few mind-blowing discoveries along the way reveal more layers with more secrets to find.
</p>
<p>
    As a tiny indie platformer with hidden depths, EMUUROM's closest comparison is Animal Well.
    The main draw for both games is a postgame scavenger hunt that is longer than the "base" game.
    However, EMUUROM's secrets are less varied. There are fewer puzzles, and more hidden paths.
    I enjoyed the game enough to fully complete it, but it was repetitive and tiring at times. 
    I think the game would have been better if some of the filler collectibles
    had been cut, leaving only the secrets with unique ideas.
</p>
<p>
    Part of what makes the hunt so fatiguing is the complicated and cramped level design.
    The world is a maze, and many of the paths are invisible.
    While the game provides a map,
    it is not always helpful because you could be on the same screen as where you're trying to go and
    yet still need to traverse the entire map to get there. 
    And while there is a fast travel system, {{ spoiler("it has a mandatory 20-second wait") }}.
</p>
<p>
    Some of the game mechanics in EMUUROM are poorly crafted and frustrating. I cursed at my computer multiple times
    during my playthrough, particularly when dealing with item pushing physics or swimming controls
    {%- call sidenote("sn-swimming") %}
    I recommend using keyboard rather than gamepad for difficult swimming sections.
    I was stuck on a late-game swimming challenge for a good 15 minutes before passing it on
    the first try with keyboard controls.
    {% endcall -%}.
    Later parts of the game require mastery of these mechanics, so there is no workaround, you just have to git gud.
</p>
<p>
    Like many games of its type, EMUUROM features a secret writing system. <br />
    TUNIC (AND EMUUROM) SPOILERS: {{ spoiler("Like Tunic, the system is not a simple one-to-one mapping of letters to symbols, so it makes a fun puzzle. However, the language encoded is not English, but rather a particular dialect of Finnish, spelled phonetically. Google Translate struggles on it, even when the messages are perfectly deciphered. Fortunately (?), most of the text is lore, and only one single late-game puzzle required a translation to solve.") }}
    <br />
    I love secret writing systems, but deciphering this one was anticlimactic.
</p>
<p>
    The game is built within the {{ externalLink("https://tic80.com/", "TIC-80") }} virtual console,
    which imposes strict limitations on the assets. 
    The graphics are limited to 16 colors on a 240x136 display,
    and the sounds are similarly constrained.
    It's a cool concept. The retro style is not just an aesthetic - the game is actually handicapped.
    But honestly, in some aspects, I wish it <em>were</em> just a look.
    The chiptune music in particular was more annoying than catchy.
</p>
<p>
    I had high hopes for EMUUROM as a new entry to the Epiphany Game / Metroidbrainia genre,
    and it didn't quite meet my lofty expectations.
    I still enjoyed it, though! The epiphany moments were good.
    It's just that the ratio of epiphany to busywork was low.
</p>

<ul class="proconlist">
    <li class="positive">Worldview-expanding hidden layers</li>
    <li class="positive">All dialogue can be reviewed at any time</li>
    <li class="subjective">More about exploration than puzzles</li>
    <li class="negative">Confusing and cramped level design</li>
    <li class="negative">Frustrating physics</li>
</ul>

