---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "FEZ",
    "genre": "2D* platform adventure",
    "icon": "fez-icon.png",
    "excludeFromRecent": true,
    "tier": "A",
    "tierJustification": "FEZ is a good example of the importance of worldbuilding in an Epiphany Game. The lore implications of the dimension-shifting ability are so interesting that it makes every new revelation highly rewarding. The world evokes a constant sense of wonder. The puzzles and secrets are similar to TUNIC, but the final puzzles don't stomp the landing.",
    "summary": "Chewnic",
    "score": 8.5,
    "twists": 2,
    "mystery": 5,
    "agency": 3,
    "worldbuilding": 5,
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/224760/FEZ/"
    }]
}
---
<p>

</p>