---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Inscryption",
    "genre": "Deckbuilding",
    "icon": "inscryption-icon.jpg",
    "excludeFromRecent": true,
    "tier": "B",
    "tierJustification": "The game starts off really good, and it would have been better if it had been...more of that. It contains massive twists, but it is also railroaded. I felt like I was just doing what I was supposed to do. Still a very creative game, and a very cool experience.",
    "summary": "Chewnic",
    "score": 7,
    "twists": 5,
    "mystery": 2,
    "agency": 2,
    "worldbuilding": 4,
    "length": "10 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1092790/Inscryption/"
    }]
}
---
<p>

</p>