---
{
    "layout": "master.njk",
    "title": "Epiphany Game Scoring",
    "withMargin": true,
    "createDate": "2026-09-09",
    "excludeFromRecent": true
}
---
<p>
    This page documents how the scores in my <a href="/epiphanylist">Epiphany Game reviews</a> are determined.
</p>
<h2>Overall Score</h2>
<p>
    A game's overall score is simply how much I liked it on a scale of 1-10, regardless of what kind of game it is.
    The Epiphany-Game metrics described below do not directly affect the overall score.
</p>
<p>
    This score is my opinion only. This isn't wine tasting, I do not judge based on what I think other people will think.
</p>
<h2>Twists</h2>
<p>
    A game scores highly on Twists if it includes surprising paradigm-shifting reveals that totally change how you see the game.
    What counts as "surprising" is highly subjective, as it depends on prior experience.
    When I first played <a href="/epiphanylist/antichamber">Antichamber</a>, the non-Euclidean map was a surprising twist.
    But when I played <a href="/epiphanylist/lingo">Lingo</a> years later, the same mechanic no longer felt as impressive
    (as evident by the fact that I'm not even spoiler-tagging it).
    There is bound to be some bias in my ratings based on the order in which I played the games.
    Regardless, genuinely creative twists should always score highly.
</p>
<h2>Mystery</h2>
<p>
    A game scores highly on Mystery if it continually evokes curiosity.
    If Twists are the destination, Mystery is the journey.
    A high Mystery game leaves clues around that make the player wonder and ask questions,
    and when those questions are answered, it only reveals more questions.
    A secret cave that can only be found by throwing bombs over the whole map may be a twist,
    but it is not a mystery. It can be made a mystery by providing a map that can be deciphered to find the cave.
</p>
<h2>Agency</h2>
<p>
    A game scores highly on Agency if it allows the player to ask their own questions and choose their own path.
    It is impossible to make a truly open-ended experience in a pre-programmed game like you would be able to find in a session of Dungeons & Dragons,
    but it is still possible to make the player <em>feel</em> like they are making the decisions.
    A game that follows a linear path cannot receive full points for agency, even if the player is solving the puzzles on their own.
</p>
<h2>Worldbuilding</h2>
<p>
    A game scores highly on Worldbuilding if the world is interesting and makes sense.
    Players will want to discuss their own theories about the game's universe and characters after they finish a game with strong Worldbuilding.
    An interesting world often starts with simple concepts that have wide-reaching implications.
    FEZ is a good example - the dimension-shifting mechanic leads to so many interesting ideas about how life in the FEZ universe works.
    A high Worldbuilding game also provides satisfactory answers to important questions.
    The pieces should all fit together as a cohesive universe.
    <a href="/epiphanylist/outerwilds">Outer Wilds</a> and Subnautica do a great job at having it all make sense when the story is fully revealed.
</p>