---
{
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle 2",
    "genre": "Puzzle",
    "createDate": "2026-09-27",
    "icon": "talosprinciple2-icon.png",
    "screenshot": "talosprinciple2.png",
    "tier": "NotEpiphany",
    "tierJustification": "In the first Talos Principle, you start with no knowledge of the world. In this second entry, you spend an hour learning the backstory before you even start. And, the characters in the game constantly talk to you and tell you what is happening, rather than letting you figure it out for yourself. Talos Principle 2 is a different kind of game. It is still a good puzzle game, but it is not an Epiphany Game.",
    "summary": "It's been hundreds of years since the events of the first Talos Principle, and there's a whole robot society now! Anyway, time for more puzzles.",
    "score": 7,
    "twists": 2,
    "mystery": 2,
    "agency": 2,
    "worldbuilding": 4,
    "length": "35 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/835960/The_Talos_Principle_2/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
{% from "imagegallery.njk" import articleImage %}
<p>
    The non-player characters in {{ externalLink("https://store.steampowered.com/app/489830/The_Elder_Scrolls_V_Skyrim_Special_Edition/", "Skyrim") }}
    tell their stories in two different ways.
    The first is traditional dialogue, where they talk to the player directly.
    But when you delve into a dungeon alone, there is nobody to talk to.
    In dungeons, characters communicate with the player a second way:
    through letters, diaries, notes, and environmental clues that can be found lying about.
</p>
<p>
    Skyrim rarely takes control away from the player,
    so in both forms of writing, the player must be an active participant, as if they are a detective trying to solve the story.
    Dialogue puts the player in the role of an interrogator,
    while environmental storytelling puts the player in the role of a crime scene investigator.
    Which detective role is more exciting?
</p>
<p>
    The difference between the two forms of writing in Skyrim
    is the biggest difference between <a href="/epiphanylist/talosprinciple">The Talos Principle</a> and its sequel.
    The original Talos relies mostly on environmental storytelling because there is nobody to talk to,
    while the sequel is full of dialogue, and there are 999 robots to talk to.
    {%- call sidenote("sn-smalltribe") %}
    I find myself jealous of the 1000-robot version of social media.
    The real internet is big and scary.
    {% endcall %}
</p>
<p>
    In addition to using a different writing delivery mechanism, the writing itself takes a more straightforward approach.
    The story of the original Talos Principle revolved around the mystery of who and where you were.
    <em>The Talos Principle 2</em>, by contrast, starts off with an hour-long info dump about who and where you are,
    as it elaborates on the world that was implied at the end of the first game.
    The result is more thorough, but less mysterious.
</p>
<p>
    In fact, the story of <em>The Talos Principle 2</em> loses enough mystery compared to the original
    that I do not consider it an <a href="/epiphanylist">Epiphany Game</a>.
    It is a more typical dialogue-driven story, and the plot is largely explicit rather than discovered.
</p>
<p>
    But, <em>The Talos Principle 2</em> is still a fun puzzle game.
    It retains the same core as Talos 1, while getting rid of all timing-based mechanics. 
    You no longer have to run past roving bombs, or record yourself doing a precise sequence of movements.
    The puzzles are thus more like {{ externalLink("https://en.wikipedia.org/wiki/Finite-state_machine", "finite-state machines") -}}.
    There are about a dozen new gadgets to play with.
    My favorite mechanic in the original was laser connections, so I was happy to see four new gadgets that interact with lasers.
</p>
<p>
    Although the new mechanics add complexity, the game does not push the puzzle difficulty to its full, sadistic potential.
    Actually, I thought most of the game was too easy. I wish the whole game was the same level as the 12 "gold" puzzles.
    {%- call sidenote("sn-difficulty") %}
    I have heard that the <em>Road to Elysium</em> DLC is more challenging,
    but I have not yet played it.
    {% endcall %}
    All of the new tetromino puzzles felt like a waste of time, as they were easily solved through brute-force random placement.
    I never 'chieved this achievement:
</p>
{{ articleImage(
    "/epiphanylist/pageassets/talosprinciple2-chief.png",
    "Screenshot of achievement for taking more than 20 minutes on a puzzle, which is not obtained",
    "Admittedly, I realized the existence of this achievement halfway through my play, and thereafter put in extra effort on hard puzzles just so I could say I'm a cool and impressive guy who never got this achievement."
) }}
<p>
    The level progression in Talos 2 is extremely formulaic.
    There are 12 worlds, each with one new mechanic, 11 puzzles, 2 collectible stars, and a lore drop.
    The stars themselves are also formulaic: They are easily findable via quest marker, and they are each obtained by completing one of three types of puzzle.
    I was disappointed by this change.
    Finding all the stars was my favorite part of Talos 1, because the locations were highly varied and they required creative, outside-the-box solutions.
    But in Talos 2, the stars felt like a repetitive, completionist chore.
</p>
<p>
    The environments in <em>The Talos Principle 2</em> are beautiful,
    {%- call sidenote("sn-graphics") %}
    Unfortunately, I am the type of person to turn my graphics settings to low, because it's easier to see the important objects on low.
    Sorry, <em>Talos Principle 2</em>, I didn't properly appreciate your beauty.
    {% endcall %}
    and absolutely <strong>massive.</strong>
    They are so big that even given a fast run speed, it can take over a minute to walk between puzzles.
    I appreciate the ambition, but it feels a bit like if I were to start a big cross-stitch without realizing how much work it was going to be.
    Only a small percentage of the world has meaningful content.
    I am not sure whether it's a good thing or bad thing that the game provides quest markers for all important locations.
    On one hand, it neuters the exploration element.
    On the other hand, exploring such a huge world would be extremely tedious.
</p>
<ul class="proconlist">
    <li class="positive">New puzzle mechanics are fun</li>
    <li class="positive">Beautiful environments and structures</li>
    <li class="subjective">More dialogue and cinematics than the first entry</li>
    <li class="negative">Formulaic and predictable, all 12 worlds play the same</li>
    <li class="negative">World is too big and it takes forever to move between puzzles</li>
</ul>
