---
{
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle",
    "genre": "Puzzle",
    "createDate": "2026-09-19",
    "excludeFromRecent": true,
    "icon": "talosprinciple-icon.png",
    "screenshot": "talosprinciple.png",
    "tier": "B",
    "tierJustification": "You boot up in a world with no explanation and you must figure out who, what, when, and why you are by reading QR codes. It turns out your purpose is mostly just solving laser line-of-sight puzzles. And it's fun! Some people report real-life epiphanies after reading the philosophical dialogue, but I stopped believing in gods long ago.",
    "summary": "Where are you? Who are you? Why are you? Anyway, time to solve some puzzles.",
    "score": 7.5,
    "twists": 2,
    "mystery": 3,
    "agency": 3,
    "worldbuilding": 4,
    "length": "30 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/257510/The_Talos_Principle/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
<p>
    <em>The Talos Principle</em> is a game that takes place in a...well, that would be a spoiler!
    When you boot up the game, you know nothing about who or where you are. 
    There are no other people around. God starts talking to you.
    "You gotta do some of these here puzzles", he says.
    But sometimes, it seems like God isn't running the world very well.
    By reading notes left behind by others,
    including some people who are seemingly going through the exact same trials as you,
    you discover the truth of the world. It is a fun <a href="/epiphanylist">Epiphany Game</a> experience.
</p>
<p>
    However, unlike <a href="/epiphanylist/outerwilds">Outer Wilds</a>, the narrative is not how you beat the game.
    <em>The Talos Principle</em> is a puzzle game, with about 100 individual puzzles.
    The story is completely separate from the game mechanics, and acts mainly as a reward for solving the puzzles.
</p>
<p>
    As a first-person puzzler, <em>The Talos Principle</em> has many similarities to {{ externalLink("https://store.steampowered.com/app/400/Portal/", "Portal") }}.
    In fact, it may be the <em>most</em> similar game to Portal. It doesn't have portals,
    {%- call sidenote("sn-portals") %}
    Is this the least convincing opening statement I could have made to explain why a game is just like Portal?
    {% endcall %}
    but it shares other elements, including a powerful disembodied voice that wants you to run through its tests,
    turrets that are happy to kill you, helpful <s>cubes</s> hexahedrons, and
    {{ spoiler("an ending sequence that involves running through the forbidden rooms of a facility to defy the disembodied voice and escape") }}.
</p>
<p>
    A first-person perspective is disadvantageous in puzzle games, since you can't see the whole puzzle at once.
    It is a lot easier to solve a maze from above than from within.
    Sometimes, this means the crux of a puzzle is simply finding all the items, which feels like artificial difficulty.
    However, Talos handles this problem well by starting off big puzzles with chains of small puzzles that lead you to all the items so you can get your bearings.
</p>
<p>
    The highlight of the game for me was collecting all the stars.
    These optional collectibles require creative, outside-the-box solutions,
    and some are quite difficult - or even unfair. But I like a challenge.
</p>
<p>
    I also really enjoyed the setting and atmosphere of the game.
    The religion motif fits well, and the three biomes corresponding to three different eras of belief are each wondrous and pretty.
    It was exciting to discover the QR code notes left behind by my NPC peers.
    Although, I am certain I didn't find all of them, because the world is large - perhaps a bit too large.
    The game has its secrets, but there are so many corners to check that the secrets are rare to find, and the search becomes discouraging.
    Regardless, the world of <em>The Talos Principle</em> was really cool, and fun to explore.
</p>
<ul class="proconlist">
    <li class="positive">Plenty of puzzles that require creative solutions</li>
    <li class="subjective">There is an NPC that grills you on your world view and disagrees with everything you say</li>
    <li class="negative">Sometimes the difficulty lies not in solving the puzzle, but in finding the pieces, and this gets tedious</li>
</ul>
