---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "TUNIC",
    "genre": "Top-down action adventure",
    "excludeFromRecent": true,
    "icon": "tunic-icon.png",
    "tier": "A",
    "tierJustification": "The in-game game guide concept is brilliant. The world is so mysterious and fun to explore. Although many puzzles revolve around the same idea, they are plenty varied, and the capstone puzzle is the most satisfying I've ever solved. If someone doesn't like the game, it's usually because of the Souls-like combat. For me, it was exactly the right difficulty.",
    "summary": "Chewnic",
    "score": 9,
    "twists": 3,
    "mystery": 5,
    "agency": 3,
    "worldbuilding": 5,
    "length": "30 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/553420/TUNIC/"
    }]
}
---
<p>

</p>