---
{
    "withMargin": true
}
---
{% from "link.njk" import externalLink %}
{% extends "master.njk" %}
{% block articleHead %}
{% set scoreLabels = {
    "1": "★",
    "2": "★★",
    "3": "★★★",
    "4": "★★★★",
    "5": "★★★★★"
} %}
<div class="fullrow flexrow">
    <img src="/epiphanylist/pageassets/{{ screenshot }}" alt="Screenshot from {{ title }}" />
    <div class="reviewsummary">
        <p class="genre">{{ genre }}<br />{{ length }}</p>
        <p>
            {{ summary }}
        </p>
        <dl class="reviewsummary-stats">
            <dt>Overall Score</dt>
            <dd>{{ score }}/10</dd>
            <dt>Twists</dt>
            <dd>{{ scoreLabels[(twists|string)] }}</dd>
            <dt>Mystery</dt>
            <dd>{{ scoreLabels[(mystery|string)] }}</dd>
            <dt>Agency</dt>
            <dd>{{ scoreLabels[(agency|string)] }}</dd>
            <dt>Worldbuilding</dt>
            <dd>{{ scoreLabels[(worldbuilding|string)] }}</dd>
        </dl>
        <p><a href="/epiphanylist/scoring">(Scoring guide)</a></p>
        {%- if gameLinks %}
        <p class="tiercardlinks">
            {%- for link in gameLinks %}
            {% if link.icon %}
            <img class="inline-icon" src="/epiphanylist/pageassets/{{ link.icon }}" />
            {% endif %}
            {{ externalLink(link.url, link.text) }}
            {%- endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
