---
{
    "withMargin": true,
    "date": "2026-06-18"
}
---
{% from "link.njk" import externalLink %}
{% extends "master.njk" %}
{% block articleHead %}
<div class="fullrow flexrow">
    <img src="/epiphanylist/pageassets/{{ screenshot }}" alt="Screenshot from {{ title }}" />
    <div class="reviewsummary">
        <p class="genre">{{ genre }}<br />{{ length }}</p>
        <p>
            {{ summary }}
        </p>
        <dl class="reviewsummary-stats">
            <dt>Overall Score</dt>
            <dd>{{ score }}/10</dd>
            <dt>Epiphany Strength</dt>
            <dd>{{ epiphanyScore }}/10</dd>
        </dl>
        {%- if gameLinks %}
        <p class="tiercardlinks">
            {%- for link in gameLinks %}
            {% if link.icon %}
            <img class="inline-icon" src="/epiphanylist/pageassets/{{ link.icon }}" />
            {% endif %}
            {{ externalLink(link.url, link.text) }}
            {%- endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block articleFooter %}
{%- if proConList %}
<ul class="proconlist">
    {%- for item in proConList %}
    <li class="{{ item.class }}">{{ item.value }}</li>
    {%- endfor %}
</ul>
{%- endif %}
{% endblock %}