<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/puzlstyle.css" | assetUrl }}" />
    <!-- TODO: dark mode favicon -->
    <link rel="icon" href="/assets/logo.svg" type="image/svg+xml" />
    <title>{{title}}</title>
</head>

<body>
    <div id="bg1"></div>
    <div id="bg2"></div>
    <div id="layout">
        <div class="decorative-block" id="deco1"></div>
        <div class="decorative-block" id="deco2"></div>
        <div class="decorative-block" id="deco3"></div>
        <div class="decorative-block" id="deco4"></div>
        <div class="decorative-block" id="deco5"></div>
        <div class="decorative-block" id="deco6"></div>
        <div id="logo"></div>
        <header>
            <nav>
                {%- set crumbs = (page.url or "/").split("/") -%}
                {%- set crumbpath = "" -%}
                <ol>
                    <li><a href="/">puzl.ing</a></li> 
                    {%- for crumb in crumbs -%}
                        {%- if crumb -%}
                            {%- set crumbpath = crumbpath ~ "/" ~ crumb -%}
                            <li><a href="{{ crumbpath }}/">{{ crumb }}</a></li>
                        {%- endif -%}
                    {%- endfor -%}
                </ol>
            </nav>
            <div id="jum-container">
                <img id="jum" alt="jum" src="/assets/jum.svg" />
            </div>
        </header>
        <main>
            <article{% if withMargin != false %} class="with-margin"{% endif %}>
                <h1>{{ title }}</h1>
                {%- block articleHead %}
                {%- endblock %}
                {%- if createDate or updateDate %}
                <div class="metadata">
                    <dl>
                        {%- if createDate %}
                        <dt>Posted</dt>
                        <dd>{{ createDate }}</dd>
                        {% endif %}
                        {%- if updateDate %}
                        <dt>Updated</dt>
                        <dd>{{ updateDate }}</dd>
                        {% endif %}
                    </dl>
                </div>
                {%- endif %}
                {%- if tags and tags.includes('epiphanygame') %}
                <p class="backlink"><a href="/epiphanylist/scoring">Scoring Guide</a></p>
                <p class="backlink"><a href="/epiphanylist/">Back to Epiphany Games list</a></p>
                {%- endif %}
                {{ content | safe }}
                {%- block articleFooter %}
                {%- endblock %}
            </article>
        </main>
        <footer>
            !!!
        </footer>
    </div>
</body>

<script src="{{ "/assets/puzleffects.js" | assetUrl }}"></script>

</html>