---
{
    "permalink": false,
    "layout": "master.njk",
    "createDate": "2026-09-18",
    "title": "About"
}
---
<p>
    This site is built with 11ty.
    It does not require JavaScript for the most part, except for the <a href="/art">art page image viewer</a>, and clicking Jum.
    It does not use a client-side JavaScript framework.
    It does not use cookies.
</p>
<p>
    My vision for this website is for it to be a slightly better-looking version of personal websites from the 2000s.
    It is not a resume site.
    I have a deep feeling of nostalgia for the pre-social-media internet I grew up with, when finding a new website felt like a fun discovery.
    My goal here is to only create what I find interesting, with no filler.
    I feel like mobile phones ruined the creative capacity of personal websites, due to extreme space restrictions.
    Unfortunately, a phone is the most likely medium through which this site is viewed.
</p>
<p>
    The site design is inspired by https://jvns.ca/
</p>
<p>
    Due to concerns about LLM-powered bot spam, I am not including contact information on this site.
    If you would like to complain about how bad my <a href="/epiphanygames/">Epiphany Games tier list</a> is,
    your best bet is to find me in a related Discord server (and I am happy to listen).
</p>