---
{
    "layout": "master.njk",
    "title": "Puzl!"
}
---
<p>
    Hello. My name is Andy. My internet name is Andu.    
</p>

{# <p>
    I am a software developer:
</p>
<ul>
    <li><a href="/devmanifesto">Here are my software development opinions</a></li>
</ul> #}

<p>
    I play three types of video games:
</p>
<ul>
    <li><a href="/epiphanylist">Games where you uncover deep secrets through self-guided exploration</a></li>
    <li>Games where you build a factory</li>
    <li>Tactical RPGs where you can give randomized soldiers silly names and watch them grow and be sad when they die</li>
</ul>

{# <p>
    I used to do art: 
</p>
<ul>
    <li>Here's my stuff</li>
</ul> #}
