---
{
    "permalink": false,
    "layout": "master.njk",
    "createDate": "2026-09-18",
    "title": "Sports Betting is a Game you can Win"
}
---
Everyone knows that gambling is a losing game. The house always wins.
Casinos exploit human stupidity to rake immoral profits.

Except, there are some people who make a living off of gambling.
How is that possible? They're not just lucky.

There are two major ways to be a professional gambler. The first is poker.
In poker, you win money from other poker players.

The second is sports betting. In sports betting, you win money directly from the house.
If you do well at sports betting, your biggest obstacle is getting sportsbooks to accept your bet!

Allow me to swim against the cultural current and admit that I like sports betting.
It is a fun statistical puzzle. And, done correctly, it can be a source of income, not of loss.

Any time a referee makes a bad call these days, online discussions are full of conspiracy theories
about how "DraftKings made the call" or something similar.
It may well be true that gambling is ruining the integrity of sports, but the sportsbooks themselves are not nearly omnipotent enough to make calls.
It is much more likely that gamblers, not DraftKings, are paying people off. See: Chauncey Billups. https://en.wikipedia.org/wiki/2025_NBA_illegal_gambling_prosecution

My goal with this article is not to show you how to be a professional sports bettor,
but rather how to avoid losing money unnecessarily as an amateur.
One part of my opening statement was true: Casinos are exploitative.

What not to do

Losing strategy 1: Relying on intuition alone

Relying on popular opinion

You may think you know ball. You don't. Rely on statistical models instead

Losing strategy 2: Using other people's bets

Real professional gamblers are not going to tell you their secrets!

Use unabated

Losing strategy 3: Betting parlays

Betting parlays (without a boost) is always worse than betting each leg individually.

Losing strategy 4: Being loyal to one sportsbook

Line shop

Amateur winning strategy: Use boosts

Profit boost strategy

Free bet strategy

Bet reset strategy

Hedging

Unfortunately, if you win regularly, you will get limited. My experience:

Fanduel, DraftKings, Bet365: not limited
Caesars, TheScore: only bad promos
BetMGM, Fanatics: No promos anymore

