---
{
    "layout": "master.njk",
    "title": "The Future is Games"
}
---
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
As intelligence becomes more efficiently automated, it loses value.
I am a smart guy, and I have always taken for granted that this trait is valuable.
But perhaps we have lived in an era where intelligence is unusually valuable.
Before the industrial revolution, most people were farmers,
and intelligence is not the main bottleneck for farming.

Computers are extremely powerful but also very complex and difficult,
so being smart enough to learn computers has given the nerd high value.

Perhaps, after artificial intelligence is fully integrated into society, 
the smart-but-socially-awkward nerds will go back to being losers.

Computers have been able to beat humans at chess for 30 years.
Today, Magnus Carlsen probably wouldn't be able to win a single game out of a million against the top engine, Stockfish.
