---
{
    "permalink": false,
    "layout": "master.njk",
    "createDate": "2026-09-18",
    "title": "Coming to Terms with Being Useless"
}
---
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
<p>
    One year ago, in September 2025, a question on the superforecaster aggregation site Metaculus
    predicted that AI will solve a Millenium Prize Problem by January 2038.
    It is September 2026, and a swarm of AI agents has solved Navier-Stokes
    https://en.wikipedia.org/wiki/Navier%E2%80%93Stokes_existence_and_smoothness
    https://www.metaculus.com/questions/28536/when-will-ai-solve-a-millennium-problem/
    https://openai.com/index/navier-stokes-solution/
</p>

https://mathandai.org/

Earlier this year, I was having fun learning about low-level programming.
As a former front-end developer, learning C gave me an understanding of comptuers deeper than what I had before.
I was reading The Linux Programming Interface straight through.
I was learning Odin and had decided that it was the ultimate language that I wanted to make everything in forever.
I found the handmade network and was inspired by their philosophy,
even though intellectually I have always believed that getting things done was the most important aprt of programming.
Making things yourself and learning is more fun.
I was thinking about doing the recurse center.
But now, I wonder, what's the point?
AI is going to be better than me at anything I could learn.
Programming knowledge is not like physics. It is not fundamental understanding of the universe.
It is just understanding the constructs other humans have come up with to more easily represent the complexity of computers.

So what should I do? I have no idea.
My primary value comes from my intelligence.
I'm terrible with people. I have no charisma. Nobody wants to do my ideas.
I'm in decent physical shape, but going to something I'm top 50% in from something I'm top 1% in feels terrible.
The things I've done this year that have value to someone (even if they ahve no monetary value)
are this website, and my GTNH videos.

Perhaps games are the future. AI has been better than humans at chess for a long time,
but chess reached a peak popularity in Covid higher than it ever was.

A swarm of AI agents just solved Navier-Stokes.
I do not understand the problem well enough to verify the solution, but top mathematicians seem to accept it.
Sure, it took millions of dollars in compute, but how many human mathematicians have considered the problem? How much time have they cumulatively spent on it?

AI has also exceeded the ARC-AGI-3 benchmark.
A year and a half ago, I made some problems for ARC-AGI-2, and the AI was absolutely terrible at it.
This, I thought, is evidence that the LLM architecture is not enough to lead to AGI.
But layers on top of the basic architecture, including chain of thought, better integration with tools, and coordination between agents,
has made it so that AI is better than the average human on the abstract puzzle games of ARC-AGI-3.
AI is better than the best human forecasters.

I was going to include a dev manifesto on this site, but it feels pointless now.

Would AI make piss christ?

Writing to become part of the hivemind

AI is good at anything verifiable. Anything not verifiable depends on charisma