:root {
    --color-negative-strong: #ff19b0;
    --color-negative: hsl(315, 100%, 85%);
    --color-positive-weak: #d6edff;
    --color-positive: #98c4ff;
    --color-positive-strong: #3e8bff;
    --color-border: #1e2842;
    --color-shadow: #000000;
    --color-text: #000000;
    --color-neutral-weak: #e0e0e0;
    --color-neutral: #c0c0c0;
    --color-neutral-strong: #909090;
    font-size: 18px;
}

@font-face {
    font-family: "Header";
    src: url(besley-subset.woff2) format("woff2");
    unicode-range: U+0020-007F;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: var(--color-negative-strong);
    cursor: pointer;
    font-weight: bold;
}

a:visited {
    color: var(--color-neutral-strong);
}

a:hover {
    color: var(--color-positive-strong);
}

a.external::after {
    content: " »";
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
    font-family: "Header", serif;
    color: var(--color-border);
}

h1 {
    position: relative;
    font-size: 2.5rem;
    background: linear-gradient(to right, var(--color-positive) 0, var(--color-negative) 100%);
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -50px;
    padding: 50px 50px 10px 50px;
    line-height: 1;
}

h2 {
    position: relative;
    font-size: 2rem;
    background: linear-gradient(to right, var(--color-positive) 0, white 100%);
    padding: 0 0 0 20px;
    margin-left: -20px;
}

h3 {
    font-size: 1.5em;
}

/* html {
    background-image: url("noise.svg");
    background-repeat: repeat;
    background-size: 100% 100%;
} */

body {
    margin: 0;
    position: relative;
    background-color: var(--color-neutral-weak);
}

#bg1 {
    position: fixed;
    inset: 0;
    background: url(noise1.png) repeat;
    filter: grayscale(1) contrast(0.35) brightness(1.45);
    z-index: -1;
    pointer-events: none;
}

#bg2 {
    position: fixed;
    inset: 0;
    background: url(noise1.png) repeat;
    mask-image: linear-gradient(
        to right,
        black 0%,
        transparent 150px,
        transparent calc(100% - 150px),
        black 100%
    );
    z-index: -1;
    pointer-events: none;
}

#layout {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(to right, transparent 20px, var(--color-shadow) 80px, var(--color-shadow) calc(100% - 80px), transparent calc(100% - 20px));
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 0 0 0 50px;
    margin: 20px 50px 20px 50px;
    background: linear-gradient(to right, white 0, white 80%, var(--color-negative) 100%);
    border-radius: 0 0 50px 0;
    font-size: 1.5rem;
    box-shadow: 4px 0 8px -4px;
}

header a {
    text-decoration-thickness: 2px;
}

header ol > li {
    display: inline-block;
}

header ol > li + li::before {
    content: "\00a0/ "
}

main {
    color: var(--color-text);
    font-family: system-ui, sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right:50px;
    margin-left: 50px;
    margin-bottom: 20px;
    background: linear-gradient(to right, white 0, white 50%, white 100%);
    border-radius: 0 30px 30px 30px;
    box-shadow: -4px 0 8px -4px;
    overflow: hidden;
    padding: 50px;
}

/* TODO: use data url, built from SSG so it's still editable */
.decorative-block {
    position: absolute;
    background-color: var(--color-border);
    background-image: url(border-pattern.svg);
    background-size: 32px 64px;
    background-attachment: fixed;
}

/* Top bar */
#deco1 {
    top:0;
    left: 0;
    right: 0;
    height:20px;
}

/* Swooping bar, bottom and right of header */
#deco2 {
    top:20px;
    left: 50px;
    right: 0;
    height:120px;
    border-radius: 0 0 50px 0;
}

/* Swooping bar, left and bottom of content */
#deco3 {
    top: 120px;
    left: 0; 
    right: 120px;
    bottom: 30px;
    border-radius: 0 0 0 50px;
}

/* Swoop on right side of footer */
#deco4 {
    bottom:0;
    right: 0;
    height:50px;
    width: 120px;
    border-radius: 0 50px 0 0;
}

/* Mobile layout: border between header and body */
#deco5 {
    top:100px;
    left: 0;
    right: 0;
    height:20px;
    display: none;
}

/* Mobile layout: border between footer and body */
#deco6 {
    bottom:30px;
    left: 0;
    right: 0;
    height:20px;
    display: none;
}

#logo {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: var(--color-negative);
    border: 2px solid var(--color-negative-strong);
    /* box-shadow: 0 0 8px; */
}

/* TODO: Is mask not usable because it's too new? */
#logo::before {
    content: "";
    background-color: var(--color-negative-strong);
    mask-image: url(logo.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 80%;
    height: 80%;
}

.flexrow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.flexrow > * {
    /* This prevents wide images from overflowing the flexbox in Chrome */
    min-width: 0;
}

article ol, article ul {
    margin-left: 20px;
}

article > * + * {
    margin-top: 1.5em;
}

article img {
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    width: 100%;
}

article .spoiler {
    cursor: pointer;
    background-color: var(--color-text);
}

article.with-margin {
    margin-right: 300px;
    /* set counter to scope of article */
    counter-reset: snCounter;
}

.sn-label {
    counter-increment: snCounter;
    display: inline;
}

.sn-label::after {
    position: relative;
    font-size: 0.85rem;
    top: -0.5em;
    font-weight: bold;
    content: counter(snCounter);
}

.sn-toggle {
    display: none;
}

article.with-margin > h1, article.with-margin > h2 {
    margin-right: -350px;
    clear:both;
}

article.with-margin > .metadata {
    width: 270px;
    margin-right: -300px;
    text-align: right;
    float: right;
    clear: right;
    /* padding: 10px; */
    /* background-color: var(--color-neutral-weak); */
}

.marginnote {
    width: 270px;
    margin-right: -300px;
    font-size: 0.85em;
    float: right;
    clear: right;

    /* Move the margin to the bottom so the note aligns better with the text
    and elements that clear float have proper spacing */
    margin-top: 0;
    margin-bottom: 1.5em;
}

.marginnote::before {
    font-weight: bold;
    content: counter(snCounter);
}

article.with-margin > .fullrow {
    margin-right: -300px;
    clear:both;
}

.tierlist {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.tiercard {
    background-color: var(--color-positive-weak);
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}

.reviewsummary {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.85rem;
    width: 270px;
    background-color: var(--color-positive-weak);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}

.tierlist a:visited, .reviewsummary a:visited {
    color: var(--color-border);
}

ul.proconlist {
    list-style-type: none;
}

li.positive {
    color: var(--color-positive-strong);
}

li.positive::before {
    content: "+";
    padding-right: 10px;
}

li.subjective {
    color: var(--color-neutral-strong);
}

li.subjective::before {
    content: "?";
    padding-right: 10px;
}

li.negative {
    color: var(--color-negative-strong);
}

li.negative::before {
    content: "-";
    padding-right: 10px;
}

dl.reviewsummary-stats {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 12px;
}

dl.reviewsummary-stats dt {
    font-weight: bold;
}

dl.reviewsummary-stats dd {
    font-family: monospace;
}

.metadata dl {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    gap: 0 12px;
}

.metadata dl > dt {
    font-weight: bold;
}

.metadata dl > dd {
    font-family: monospace;
}

img.inline-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    box-shadow: none;
    vertical-align: middle;
}

footer {
    font-family: system-ui, sans-serif;
    font-size: 10pt;
    z-index: 1;
    padding: 0 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0 50px;

    /* This gets reduced to the height of the element; 
    I tried using another div to make it actually 50px, but it looked worse */
    border-radius: 50px 50px 0 0;
    background: linear-gradient(to right, var(--color-positive) 0, var(--color-neutral) 20%, var(--color-neutral) 80%, var(--color-negative) 100%);
    box-shadow: 4px 0 8px -4px;
}

#jum-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50% 0 50% 50%;
    cursor: pointer;
    /* box-shadow: 0 0 8px var(--color-negative-strong); */
}

#jum {
    width: 64px;
    z-index: 5;
}

#jum:active {
    transform: scale(0.875);
}

.tiercardhead {
    display: flex;
    justify-content: space-between;
}

.tiercardhead > img {
    width:120px;
    height:120px;
    flex-basis:120px;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.genre {
    font-style: italic;
}

.tiercardhead > div > * + * {
    margin-top: 0.5rem;
}

.tiercardlinks {
    margin-top: auto;
}

.mono {
    font-family: monospace;
}

/* Compact mode starts when its inner content width matches desktop mode (1040px). */
@media (max-width: 1080px) {
    #bg1, #bg2 {
        display: none;
    }

    #deco1, #deco2, #deco3, #deco4 {
        display: none;
    }

    #deco5, #deco6 {
        display: block;
    }

    #layout {
        width: 100%;
        background: none;
        background-color: var(--color-neutral-weak);
    }

    header {
        margin: 0;
        padding: 0 0 0 100px;
        border-radius: 0;
        box-shadow: none;
        background: linear-gradient(to right, white 0, white 60%, var(--color-negative) 100%);
    }

    main {
        margin: 20px 0;
        padding: 20px 20px;
        border-radius: 0;
        box-shadow: none;
    }

    footer {
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }

    #logo {
        top: 20px;
        left: 10px;
    }

    h1 {
        margin-left: -20px;
        margin-right: -20px;
        padding: 80px 20px 10px 20px;
    }
}

@media (max-width: 840px) {
    header {
        font-size: 1rem;
        padding: 0 0 0 80px;
    }

    header nav li {
        display: block;
    }

    h1 {
        margin-left: -20px;
        margin-right: -20px;
        padding: 80px 20px 10px 20px;
        font-size: 2rem;
    }

    h2 {
        margin-left: -20px;
        padding-left: 20px;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    article.with-margin {
        margin-right: 0;
    }

    .marginnote, article.with-margin > .metadata {
        text-align: left;
        float: none;
        margin-right: 0;
        width: auto;
    }

    article.with-margin > .fullrow {
        margin-right: 0;
    }

    .flexrow {
        flex-direction: column;
    }

    .reviewsummary {
        width: 100%;
    }

    .sn-label {
        cursor: pointer;
    }

    .marginnote {
        display: none;
    }

    .sn-toggle:checked + .marginnote,
    .sn-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 0.5rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }
}
