---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "ANIMAL WELL",
    "genre": "Metroidvania",
    "excludeFromRecent": true,
    "icon": "animalwell-icon.png",
    "tier": "Borderline",
    "tierJustification": "This is more -vania than -brainia. But, it's a good game with a few secret abilities and a fun postgame scavenger hunt. The puzzles are hit-and-miss, and some of them were intended to be solved with a community, which means if you play it today, you can no longer properly experience them.",
    "summary": "A multi-layered scavenger hunt. Scan all the objects and ",
    "score": 8,
    "twists": 2,
    "mystery": 2,
    "agency": 4,
    "worldbuilding": 3,
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/813230/ANIMAL_WELL/"
    }]
}
---
<p>
    Animal Well is primarily a Metroidvania, not an epiphany game.
</p>