---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Antichamber",
    "tier": "B",
    "tierJustification": "I played this one before any others on this list. Back then, I thought it was the coolest game I'd ever played. It's rather short, and later abilities completely invalidate earlier puzzles.",
    "order": 40,
    "summary": "Chewnic",
    "score": "6.5",
    "epiphanyScore": "6",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/219890/Antichamber/"
    }]
}
---
<p>

</p>