---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Antichamber",
    "genre": "Puzzle box",
    "excludeFromRecent": true,
    "icon": "antichamber-icon.png",
    "tier": "PuzzleBox",
    "tierJustification": "I played this one before any others on this list. Back then, I thought it was the coolest game I'd ever played. It's hard for me to rate it now that I've played many more such games. As a puzzle box game, it lacks worldbuilding, so the epiphanies don't hit as hard. It's also the shortest game in this list.",
    "summary": "Chewnic",
    "score": 6.5,
    "twists": 2,
    "mystery": 3,
    "agency": 4,
    "worldbuilding": 1,
    "length": "5 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/219890/Antichamber/"
    }]
}
---
<p>
    The Chambaaa
</p>