---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Blue Prince",
    "genre": "Roguelite",
    "icon": "blueprince-icon.jpg",
    "tier": "A",
    "tierJustification": "You don't believe that it can possibly go deeper, and then it does. And then it does again. The unique roguelite mansion-planner gameplay is a snack for the novelty-hungry brain, and the layers of secrets make it even better. Unfortunately, the game wastes your time more than any other on this list (except perhaps Void Stranger). Thus, it is at its best when there are multiple threads of investigation open at once, so you can progress in parallel. I think it could have been even better with some horror elements.",
    "summary": "Chewnic",
    "score": 7.5,
    "twists": 4,
    "mystery": 5,
    "agency": 4,
    "worldbuilding": 3,
    "length": "70+ hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1569580/Blue_Prince/"
    }]
}
---
<p>

</p>