---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Chants of Sennaar",
    "tier": "B",
    "tierJustification": "The gameplay is linear, but after each stage, the nature of the world is revealed a little more, and the final puzzle ties it all together very nicely. It's mostly a puzzle game rather than an Epiphany Game, but it gets B tier because I really liked it.",
    "order": 50,
    "summary": "Chewnic",
    "score": "8",
    "epiphanyScore": "4",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/1931770/Chants_of_Sennaar/"
    }]
}
---
<p>

</p>