---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Chroma Zero",
    "genre": "Puzzle box",
    "icon": "chromazero-icon.png",
    "tier": "D",
    "tierJustification": "This is the only game on this list other than Outer Wilds where the game is winnable from the start, and you truly only need knowledge to progress. But in contrast to Outer Wilds' incredible worldbuilding, this game is just a box full of randomly placed 3D models. The mechanics felt arbitrary in a way that made some puzzles unsatisfying to solve.",
    "order": 10,
    "summary": "Chewnic",
    "score": "4.5",
    "epiphanyScore": "4",
    "length": "10 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/3121470/Chroma_Zero/"
    }]
}
---
<p>
pile of assets
</p>