---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Chroma Zero",
    "tier": "C",
    "tierJustification": "This is the only game on this list other than Outer Wilds where the game is winnable from the start, and you truly only need knowledge to progress. But in contrast to Outer Wilds' incredible worldbuilding, this game is just a puzzle box full of randomly placed 3D models. The epiphanies don't feel that powerful as a result.",
    "order": 1000,
    "summary": "Chewnic",
    "score": "4.5",
    "epiphanyScore": "5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/3121470/Chroma_Zero/"
    }]
}
---
<p>
pile of assets
</p>