---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Echoes of the Eye",
    "genre": "Xenoarchaeology",
    "excludeFromRecent": true,
    "tier": "S",
    "tierJustification": "The Outer Wilds DLC deserves its own entry because it might as well be a separate game. I know I'm in the minority, but I actually liked it better than the base game. The puzzles were better-designed, and I loved the creepy elements. This is my absolute favorite one-play game.",
    "icon": "echoesoftheeye-icon.jpg",
    "screenshot": "outerwilds.jpg",
    "summary": "Raft around and explore the ruins of another lost civilization and discover the meaning of it all once again. Just as good as the base game.",
    "score": 10,
    "twists": 5,
    "mystery": 5,
    "agency": 5,
    "worldbuilding": 5,
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1622100/Outer_Wilds__Echoes_of_the_Eye/"
    }]
}
---
<p>
    Describing Echoes of the Eye as DLC doesn't do it justice.
    It's an entirely new game within the original Outer Wilds.
    It features a new world to explore, with relics from a new alien species.
    I'm in the minority, but I loved the Outer Wilds DLC more than the base game. The epiphanies are
    just as good,
    and the puzzles are more well-designed.
</p>
<p>
    A major reason people may enjoy it less than the original is because it leans harder into the horror
    aspects.
    I like the horror aspects, which explains why I liked the DLC.
</p>

<ul class="proconlist">
    <li class="positive">Cohesive universe with few plotholes</li>
    <li class="positive">Still excellent epiphanies</li>
    <li class="positive">Better puzzles than the base game</li>
    <li class="subjective">Scarier than the base game</li>
    <li class="negative">Less space travel</li>
    <li class="negative">Attachment to the base game results in repeated downtime</li>
</ul>
