---
{
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "EMUUROM",
    "tier": "C",
    "tierJustification": "A few good epiphany moments were scattered throughout a tedious scavenger hunt. Exploration felt bad because of the game's cramped map and frustrating physics. I wish there were more puzzles. It seems the final ending is not done yet, so I'll have to revisit this one later.",
    "order": 1,
    "screenshot": "emuurom.png",
    "summary": "A multi-layered scavenger hunt in a labyrinthian world.",
    "score": "6",
    "epiphanyScore": "6",
    "length": "50 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/1634360/EMUUROM/"
    }],
    "proConList": [{
        "class": "positive",
        "value": "Worldview-expanding hidden layers"
    }, {
        "class": "positive",
        "value": "All dialogue can be reviewed at any time"
    },{
        "class": "subjective",
        "value": "More about exploration than puzzles"
    }, {
        "class": "negative",
        "value": "Confusing and cramped level design"
    }, {
        "class": "negative",
        "value": "Frustrating physics"
    }]
}
---
{% from "sidenote.njk" import sidenote %}
<p>
    The player's sole piece of equipment in EMUUROM is the SKANNER,
    a combination of <a href="https://wiki.subnautica.com/sn/Scanner_(Subnautica)">Subnautica's scanner</a>
    and Metroid's <a href="https://www.metroidwiki.org/wiki/X-Ray_Scope">X-Ray Scope</a>.
    Thus the directive is: Scan all the creatures, and look for secret paths.
    A few mind-blowing epiphanies along the way reveal more layers with more secrets to find.
</p>
<p>
    EMUUROM's closest comparison is Animal Well.
    Both games feature a postgame scavenger hunt that is longer than the "base" game.
    EMUUROM's base game is shorter and postgame is longer in comparison.
    However, EMUUROM's postgame feels more like busywork because it is less varied.
    It is not so much puzzle solving as it is a full nook-and-cranny sweep.
</p>
<p>
    The level design in EMUUROM feels complicated and cramped.
    The world is a maze, and many of the paths are invisible.
    While the game provides a map,
    it is not always helpful because you could be on the same screen as where you're trying to go and
    yet still need to traverse the entire map to get there. 
    And while there is a fast travel system, <span class="spoiler">it has a mandatory 20-second wait</span>.
    This makes the scavenger hunt feel tedious at times.
</p>
<p>
    Some of the game mechanics in EMUUROM are poorly crafted and frustrating. I cursed at my computer multiple times
    during my playthrough, particularly when dealing with item pushing physics or swimming controls
    {%- call sidenote("sn-swimming") %}
    I recommend using keyboard rather than gamepad for difficult swimming sections.
    I was stuck on a late-game swimming challenge for a good 15 minutes before passing it on
    the first try with keyboard controls.
    {% endcall -%}.
    Later parts of the game require mastery of these mechanics, so there is no workaround, you just have to git gud.
</p>
<p>
    Like many games of its type, EMUUROM features a secret writing system. <br />
    TUNIC (AND EMUUROM) SPOILERS: <span class="spoiler">
        Like Tunic, the system is not a simple one-to-one mapping of letters to symbols, so it makes a fun puzzle.
        However, the language encoded is not English, but rather a particular dialect of Finnish, spelled phonetically. 
        Google Translate struggles on it, even when the messages are perfectly deciphered.
        Fortunately (?), most of the text is lore, and only one single late-game puzzle required a translation to solve.
    </span>
    <br />
    I love secret writing systems, but deciphering this one was anticlimactic.
</p>
<p>
    The game is built within the <a href="https://tic80.com/">TIC-80</a> virtual console,
    which imposes strict limitations on the assets. 
    The graphics are limited to 16 colors on a 240x136 display,
    and the sounds are similarly constrained.
    It's a cool concept, and constraints foster creativity, but honestly, the severe restrictions were felt.
    The chiptune music in particular was more annoying than catchy.
</p>
<p>
    I think you can tell that I was a bit disappointed with EMUUROM as an epiphany game. 
    I still enjoyed it, though! The epiphany moments were good.
    It's just that the ratio of epiphany to busywork was low.
</p>

