---
{
    "layout": "master.njk",
    "title": "Epiphany Games",
    "withMargin": true,
    "date": "2026-06-18",
    "eleventyImport": {
        "collections": ["epiphanygame"]
    }
}
---
{% from "sidenote.njk" import sidenote %}
<p>
    Sometimes I'll come across a game that's hard to find information for, because
    the reviews helpfully say "don't read anything about this game before playing it" or
    <span class="spoiler">they're just big walls of spoiler tags</span>.
    I try to only buy games I know I'll like, 
    so, faced with a such a lack of key information...I immediately buy the game and start playing.
</p>
<p>
    When discussions about a game look like the Epstein files,
    it's a sign that the game is what I call an <em>epiphany-driven game</em>.
    This type of game rewards curiosity with paradigm-shifting moments of understanding.
    It's like being able to go back in time to re-discover quantum physics.
    In my opinion, a good Epiphany Game is the most satisfying experience in all of media,
    but each one can only be played once! For that reason, I am always seeking more.
</p>
<p>
    Like many others, my hunger for Epiphany Games started with Outer Wilds.
    This game is simultaneously genre-defining and unique.
    A search for "games like Outer Wilds" finds dozens of
    <a href="https://www.reddit.com/r/outerwilds/wiki/index/gamerecs/">posts from other players feeling
        a bit empty</a>
    after completing the game or its DLC. There really is nothing quite like Outer Wilds, but there are
    games that are fun for some of the same reasons. The core of an Epiphany Game
    {%- call sidenote("sn-metroidbrainia") %}
    I have also seen the term "<a href="https://www.reddit.com/r/metroidbrainia/">Metroidbrainia</a>",
    which describes a Metroidvania where areas are unlocked through player knowledge rather than in-game abilities, 
    but I find that this term excludes too many games that evoke the same core feelings as Outer Wilds.
    For example, I find that Subnautica feels similar to Outer Wilds, 
    even though it has little to no knowledge gating at all.
    {% endcall %}
    is: 
    <strong>
        A coherent universe with hidden truths that must be discovered through self-guided exploration.
    </strong>
    For strong epiphanies, the worldbuilding must be solid, so that the revelations make sense,
    and the game must allow the player to choose their own lines of inquiry,
    so that the accomplishment feels earned.
</p>
<p>
    Here is a spoiler-free tier list of Epiphany Games I've completed.
    The tier criteria are how much I think the games fit the category, and how much I liked the game, combined and weighted on vibes.
</p>

<h2>S Tier</h2>
<div class="fullrow"><div class="tierlist">
{% for game in collections.epiphanyS %}
{% include "epiphanygamesummary.njk" %}
{% endfor %}
</div></div>

<h2>A Tier</h2>
<div class="fullrow"><div class="tierlist">
{% for game in collections.epiphanyA %}
{% include "epiphanygamesummary.njk" %}
{% endfor %}
</div></div>

<h2>B Tier</h2>
<div class="fullrow"><div class="tierlist">
{% for game in collections.epiphanyB %}
{% include "epiphanygamesummary.njk" %}
{% endfor %}
</div></div>

<h2>C Tier</h2>
<div class="fullrow"><div class="tierlist">
{% for game in collections.epiphanyC %}
{% include "epiphanygamesummary.njk" %}
{% endfor %}
</div></div>

<h2>Games I've Played That Don't Quite Fit</h2>
<p>
    <ul>
        <li>
            <a href="https://store.steampowered.com/app/736260/Baba_Is_You/">Baba is You</a>:
            Is a fantastic puzzle game
            {%- call sidenote("sn-puzzle") %}
            There is overlap between puzzle games and Epiphany Games, since a good puzzle demands
            that the player fully understand the problem. The difference, I suppose,
            is whether the puzzle exists alone or as part of a larger world. Check out
            <a href="https://thinkygames.com/lists/thinky-essentials/">Thinky Essentials</a>
            for a good list of puzzle games with a bias toward epiphanies.
            {% endcall -%}.
            I was close to adding it to the list, but I do not quite consider it an Epiphany Game.
            The epiphanies in the later puzzles are only a small part of the experience.
        </li>
        <li>
            <a href="https://store.steampowered.com/app/1677770/The_Case_of_the_Golden_Idol/">The Case of the Golden Idol</a>:
            It's a good detective game. But I was already unsure on Obra Dinn, and this one is less open-ended, so it doesn't make the list.
        <li>
            <a href="https://playcebo.itch.io/12-word-searches">12 word searches</a>:
            Actually fits the Epiphany Game definition quite well, but being a short pen-and-paper game,
            it isn't the same scope as the games in the list. I really liked it, though!
        </li>
        <li>
            <a href="https://letibus.bigcartel.com/product/lok">LOK</a>:
            Another pen-and-paper game, this one is foremost a book of puzzles rather than an Epiphany Game.
            While you must learn the rules yourself, the rules don't change your understanding of earlier puzzles.
        </li>        
    </ul>
</p>
