---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "FEZ",
    "tier": "A",
    "tierJustification": "FEZ is a good example of the importance of worldbuilding in an Epiphany Game. The lore implications of the dimension-shifting ability are so interesting that it makes every new revelation highly rewarding. The puzzles and secrets are similar to TUNIC, but the final puzzles don't stomp the landing.",
    "order": 20,
    "summary": "Chewnic",
    "score": "8.5",
    "epiphanyScore": "8.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/224760/FEZ/"
    }]
}
---
<p>

</p>