---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Inscryption",
    "tier": "C",
    "tierJustification": "The game starts off really good, and it would have been better if it had been...more of that. It contains massive twists, but it is also railroaded. It felt like I was just doing what I was supposed to do, rather than exploring on my own.",
    "order": 20,
    "summary": "Chewnic",
    "score": "6.5",
    "epiphanyScore": "5.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/1092790/Inscryption/"
    }]
}
---
<p>

</p>