---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Inscryption",
    "tier": "C",
    "tierJustification": "The game starts off really good, and it would have been better if it had been...more of that. While the game certainly reveals deeper secrets, it is very railroaded.",
    "order": 20,
    "summary": "Chewnic",
    "score": "6.5",
    "epiphanyScore": "5.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/1092790/Inscryption/"
    }]
}
---
<p>

</p>