---
{
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Lingo",
    "createDate": "2026-07-03",
    "tier": "PuzzleBox",
    "icon": "lingo-icon.png",
    "screenshot": "lingo.png",
    "genre": "Puzzle box",
    "tierJustification": "<em>Very</em> similar to The Witness, but with words instead of lines. Rule discovery is fun, but I didn't have any big eureka moments, only many small ones. Appreciation of this game is heavily dependent on how much you like word puzzles, because there are THOUSANDS of them, plus some 3rd-party maps. This is the only game on the list I didn't get 95%+ completion on, because there is just so much, but I could see myself coming back for more sometime. There's Lingo 2 as well!",
    "summary": "A rule-discovery word game that takes place in a complex non-Euclidean maze.",
    "score": 6.5,
    "twists": 2,
    "mystery": 3,
    "agency": 5,
    "worldbuilding": 1,
    "length": "20 to 100+ hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/1814170/Lingo/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
<p>
    To explore the maze of Lingo, you must unlock doors by completing puzzle tiles.
    Nobody is going to tell you how to solve these puzzle tiles.
    You must learn the rules yourself by finding themed rooms that have simple versions of the puzzles as demonstrations.
    As you gain knowledge, you unlock new areas with new rules to learn.
</p>
<p>
    If you've played The Witness, that gameplay loop will sound very familiar.
    The difference between The Witness and Lingo is that Lingo's puzzles are word-based rather than logic-based.
    It is somewhat similar to solving crossword clues. Logophiles will find Lingo to be an unexpected treasure trove with its <em>thousands</em>
    {%- call sidenote("sn-puzzlecount") %}
    Plus Lingo 2! Plus community-made maps!
    {% endcall %}
    of word puzzles.
</p>
<p>
    Designing word problems comes with a couple unique challenges compared to logic problems. 
    The first is that they are inherently constrained by dialect.
    Lingo relies on American English pronunciation and spelling, which wasn't a problem for me, but is worth noting.
    The second is that it is hard to come up with clues that have only one unambiguously correct answer.
    Example: <em>not miniscule</em>, 8 letters. What word am I thinking of?
</p>
<p>
    Lingo is particularly bad about ambiguous clues.
    In a crossword puzzle, a clue with multiple answers can be pinned down as you solve other clues and get more letter hints.
    But in Lingo, you don't get any letters.
    It is very frustrating to finally come up with a valid solution to a hard puzzle,
    only for it to not be the solution the designer intended.
    Sometimes nearby puzzles are themed, so that can help hint at the answer, but not always.
    This is my second biggest complaint about the game:
    <em>Even with perfect knowledge of the rules</em>, some late-game puzzles have dozens of valid solutions that aren't correct.
    {%- call sidenote("sn-onelook") %}
    Admittedly, I used tools a handful of times to see which solutions I was missing,
    such as my favorite word finding tool {{ externalLink("https://www.onelook.com/", "OneLook") }}.
    {% endcall %}
</p>
<p>
    The world of Lingo is a big and complex maze. It looks like a beta version of a Minecraft clone where the only blocks implemented are
    signs, paintings, glass, and concrete.
    {%- call sidenote("sn-minecraft") %}
    It reminded me so much of Minecraft that I instinctually pressed shift when looking over an edge I didn't want to fall off of.
    Unfortunately, that is how I learned what the sprint key is.
    {% endcall %}
    I've never cared much about graphics in a game, as long as it's easy enough to navigate.
    ...Which brings me to my biggest complaint about the game.
    Lingo implements the non-Euclidean geometry that Antichamber pioneered.
    And it is used <em>everywhere</em>. It's used so much that it becomes annoying rather than cool.
    And the fact that the world is so simplistic makes the non-Euclidean pathing so much more difficult, 
    because it all looks the same.
    Additionally, the maze is full of one-way teleports.
    It is a nightmare to navigate methodically. I eventually managed to find and solve 97.5%
    of the puzzles in {{ spoiler("level 1") }}, but I never outgrew the feeling that I was just walking around randomly,
    and I have no desire to hunt for the puzzles I missed. I don't want to solve mazes, I want to solve word puzzles!
</p>
<p>
    Because of these gripes, I grew tired of Lingo before reaching 100% completion.
    But I absolutely intend to come back someday with a fresh mind.
    There are thousands more puzzles that need to be solved, after all!
</p>

<ul class="proconlist">
    <li class="positive">Satisfying rule discovery</li>
    <li class="positive">Just so many puzzles</li>
    <li class="subjective">Word puzzles, which rely on American English pronunciation and spelling</li>
    <li class="negative">Tedious complex maze navigation</li>
    <li class="negative">Puzzles with dozens of valid solutions where only one is correct</li>
</ul>
