---
{
    "createDate": "2026-09-16",
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Message from Deep Space",
    "genre": "Language puzzle",
    "icon": "deepspace-icon.png",
    "screenshot": "deepspace.png",
    "tier": "NotEpiphany",
    "tierJustification": "An interesting language puzzle game that holds your hand far too often for it to be an Epiphany Game. Definitely worth a try if you, like me, are fascinated by the concept of decoding an alien language through shared understanding of math and science.",
    "summary": "Determine what the aliens are trying to say, then answer their homework problems.",
    "score": 6,
    "twists": 2,
    "mystery": 2,
    "agency": 1,
    "worldbuilding": 3,
    "length": "35 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/4080030/The_Message_from_Deep_Space/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
{% from "imagegallery.njk" import articleImage %}
<p>
    Good news! You've discovered intelligent alien life. But, the aliens haven't found you yet.
    Humanity is launching a probe to their planet. You are given the responsibility of writing a message to the aliens.
    What would you say, and how would you say it?
    The way aliens perceive the world is probably completely different,
    and they certainly wouldn't understand any of our language or writing.
    What can we use to communicate?
</p>
<p>
    In the 1970s, NASA launched the <em>Pioneer 10</em> and <em>Pioneer 11</em> space probes,
    which were to become the first man-made objects to leave the Solar System.
    Just in case any stray aliens in interstellar space were to find them,
    Carl Sagan and Frank Drake slapped a {{ externalLink("https://en.wikipedia.org/wiki/Pioneer_plaque", "plaque") }} on the probes,
    containing information about where they came from.
    They used abstract representations of universal constants such as the {{ externalLink("https://en.wikipedia.org/wiki/Hydrogen_line", "hydrogen line") }}
    in their attempt to communicate in a way that could be universally deciphered by intelligent life with sufficient scientific advancement.
    Later, the team expanded on the concept as the <em>Voyager 1</em> and <em>Voyager 2</em> spacecraft were each loaded with
    {{ externalLink("https://en.wikipedia.org/wiki/Voyager_Golden_Record", "golden records") }}
    that encoded sounds and images from Earth.
</p>
{{ articleImage(
    "/epiphanylist/pageassets/goldenrecord.jpg",
    "The Voyager Golden Record",
    externalLink("https://commons.wikimedia.org/w/index.php?curid=137443", "By NASA/JPL - The Sounds of Earth Record Cover, Public Domain")
) }}
<p>
    In <em>The Message from Deep Space</em>, aliens have sent you a Voyager Golden Record of their own, and you are to decode it.
    The game imagines what establishing a common language with aliens might actually look like, from start to finish.
</p>
<p>
    As soon as I heard the idea, I was sold. 
    My friend who made me aware of this game said it sounded like an "Andy-ass game", and he was absolutely correct.
</p>
<p>
    <em>The Message from Deep Space</em> is a game best enjoyed by weirdos like me who liked math class,
    because it plays like a homework assignment.
    The assignment covers material from mathematics, logic, chemistry, nuclear physics, astrophysics, biology, and linguistics.
    {%- call sidenote("sn-myinterests") %}
    This is a direct hit to my intellectual interests. The one thing missing is computers and programming.
    It's prominently featured in the story, but an NPC does all the work for you. Which is really a shame.
    {% endcall %}
    It's a super-nerdy game, but it doesn't require advanced knowledge in any of these topics.
    In an effort to be accessible to everyone, the game provides plenty of hints, along with an in-game reference for the relevant science topics.
    If anything, I wish it were more difficult.
</p>
<p>
    I went into <em>The Message from Deep Space</em> completely blind.
    I didn't even need to read the Steam description to know it was an Andy-ass game.
    After getting into it, there were two elements that I was not expecting when I imagined what an alien language decoding game would look like.
    The first is that there is a <em>lot</em> of non-alien dialogue.
    Rather than working alone, you are translating the message with a team of four researchers.
    These researchers are partly functional, as they provide suggestions and hints,
    but they are also part of the narrative.
    As you decode more of the message, you learn about these researchers' personalities and backstory.
</p>
<p>
    The second thing that surprised me about the game is that it is <em>completely</em> linear.
    I expected to have to learn how to translate the alien language on my own,
    but the game practically walks you through the solution.
    You must fill in the blanks for 977 messages in order, no jumping around.
</p>
<p>
    Thus, even though <em>The Message from Deep Space</em> is just like Outer Wilds
    {%- call sidenote("sn-outerwilds") %}
    puzl.ing drinking game: Take a shot every time I mention Outer Wilds
    {% endcall %}
    in that the core gameplay involves reading alien messages, it is <em>not</em> an <a href="/epiphanylist">Epiphany Game</a>.
    The player has no agency at all. Just answer each question correctly and move on to the next.
    The story is largely told, rather than discovered.
    In fact, key epiphany moments are taken from the player and given to NPCs!
    For a non-spoilery example,
    there is computational work that needs to be done to process the message into a readable format.
    This could have been a fun puzzle, but the computer scientist NPC does it all for you.
</p>
<p>
    <em>The Message from Deep Space</em> is quite a long game. But, it doesn't have enough unique ideas to justify its length.
    About 10 hours in out of 30, I started to feel like the game was more tedious than challenging.
    977 homework problems, with animations and dialogue between each, is a lot.
    For what it's worth, the game does have a satisfying ending,
    so I am glad I stuck with it.
    {%- call sidenote("sn-outerwilds") %}
    Now that I have finished the game, it is quite fun to read what words other people used for the translation.
    {{ spoiler("I named the two competing ideologies \"Xenochristianity\" and \"Xenoislam\". Our alien friend, similarly, was named \"Xenodave\".") }}
    I named my player "Dr. Feast" and in his journal, for 50 weeks straight, he simply wrote the word "Feast".
    {% endcall %}
</p>
<p>
    To justify my complaint about length,
    I was curious to see how many people manage to finish the whole game, and where people are dropping out.
    The game has Steam achievements for completing each of its 12 acts, for which we can see achievement rates.
    Since the alien messages each take a similar amount of time to solve on average,
    we can plot the message number against the percent of people who have each achievement (as of 2026-09-16).
</p>
{{ articleImage(
    "/epiphanylist/pageassets/deepspace-completion.png",
    "Graph of completion rate vs. messages completed for The Message from Deep Space"
) }}
<p>
    Okay, so I have no idea what such a curve would look like for other 30-hour games,
    so I don't know whether this supports my complaint about game length.
    But, 10% completion rate seems pretty low, so I think that shows that the game is indeed quite niche.
    People who don't want to do a bunch of math are likely to struggle to complete the second act.
</p>
<p>
    I think the idea behind <em>The Message from Deep Space</em> is an absolute winner,
    but I would have preferred a more open-ended puzzle.
    Still, I enjoyed it, and I would recommend it to any of my fellow <em>nerds</em>
    who like mathematics, logic, chemistry, nuclear physics, astrophysics, biology, and linguistics.
</p>
<ul class="proconlist">
    <li class="positive">Amazing idea for a game</li>
    <li class="subjective">Feels like math and science homework</li>
    <li class="subjective">Lots of dialogue</li>
    <li class="negative">No player agency</li>
    <li class="negative">Too long</li>
</ul>
