---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Return of the Obra Dinn",
    "tier": "B",
    "icon": "obradinn-icon.png",
    "genre": "Detective",
    "tierJustification": "A good Epiphany Game must make the investigation feel self-driven, even if it strongly nudges the player in certain directions. Obra Dinn is surprisingly linear, but because it allows the player to walk around freely, it feels like an Epiphany Game more than other detective games. It successfully creates \"aha\" moments by introducing characters long before they can be identified. A unique and brilliant way to tell a story.",
    "order": 30,
    "summary": "Chewnic",
    "score": "7.5",
    "epiphanyScore": "5",
    "length": "10 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/653530/Return_of_the_Obra_Dinn/"
    }]
}
---
<p>

</p>