---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Return of the Obra Dinn",
    "tier": "C",
    "tierJustification": "A fun detective game, and a brilliant way to tell a story. The story it tells isn't particularly mind-blowing, but the way the mystery is slowly revealed is very cool.",
    "order": 40,
    "summary": "Chewnic",
    "score": "7",
    "epiphanyScore": "3.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/753640/Outer_Wilds/"
    }]
}
---
<p>

</p>