---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Return of the Obra Dinn",
    "tier": "C",
    "tierJustification": "A fun detective game, and a brilliant way to tell a story. I don't think it rates highly as an Epiphany Game because the revelations were not all that unexpected, nor all that player-driven. The game is surprisingly linear given its premise.",
    "order": 50,
    "summary": "Chewnic",
    "score": "7",
    "epiphanyScore": "3.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/753640/Outer_Wilds/"
    }]
}
---
<p>

</p>