---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Outer Wilds",
    "tier": "S",
    "genre": "Pure epiphany game",
    "tierJustification": "The quintessential example of an epiphany-driven game. I can't possibly put it anywhere other than the top.",
    "order": 1,
    "icon": "outerwilds-icon.jpg",
    "screenshot": "outerwilds.jpg",
    "summary": "Fly around in space and explore the ruins of a lost civilization and discover the nature of the universe. The quintessential example of a curiosity-driven game.",
    "score": "9.5",
    "epiphanyScore": "10",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/753640/Outer_Wilds/"
    }],
    "proConList": [{
        "class": "positive",
        "value": "Excellent epiphanies"
    }, {
        "class": "positive",
        "value": "Cohesive universe with no plotholes. By the end, it all makes sense"
    }, {
        "class": "positive",
        "value": "Space! Planets!"
    }, {
        "class": "subjective",
        "value": "Sometimes very scary"
    }, {
        "class": "negative",
        "value": "Difficult controls are a skill to be learned and may inhibit progress"
    }, {
        "class": "negative",
        "value": "Some poorly designed puzzles"
    }]
}
---
<p>
    This is the game that defines the genre.
    Outer Wilds is the most pure example of an epiphany-driven game. It has no combat system,
    no stats, no unlockable items. The only thing stopping the player from
    beating the game within 10 minutes of booting it up is a lack of knowledge.
    Outer Wilds is the one true example of a "Metroidbrainia" - the only thing you unlock is knowledge.
</p>
<p>
    The universe just exists, and you have to figure out how it works.
</p>
<p>
    Even though it's one of my favorite games, it has a flaw, which is the puzzles.
    Some of the puzzles may remain unsolved even when the player is doing basically the correct thing,
    which may lead the player to waste time trying obscure solutions. One of the final puzzles is
    simultaneously too easy and too hard - it is possible to solve accidentally, which will reveal the
    entire plot and ruins the game, but the correct solution is also somewhat illogically nitpicky, and
    the player may decide
</p>
