---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Subnautica",
    "tier": "A",
    "tierJustification": "Unlike most of the games on this list, Subnautica does not feature puzzle elements. The epiphanies do not come from <em>figuring something out</em>, but rather <em>finding something unexpected</em>. It's a fantastic exploration game with a very tight and satisfying revealed plot. <em>I'm discovering while making this tier list that I might like horror more than I thought.</em>",
    "order": 40,
    "summary": "Chewnic",
    "score": "9",
    "epiphanyScore": "7",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/264710/Subnautica/"
    }]
}
---
<p>

</p>