---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Subnautica",
    "genre": "Open world survival craft",
    "icon": "subnautica-icon.jpg",
    "tier": "A",
    "tierJustification": "Unlike most of the games on this list, Subnautica does not feature puzzle elements. The epiphanies do not come from <em>figuring something out</em>, but rather <em>finding something unexpected</em>. It's a fantastic exploration game with a very tight and satisfying revealed plot.",
    "summary": "Chewnic",
    "score": 8.5,
    "twists": 4,
    "mystery": 3,
    "agency": 4,
    "worldbuilding": 5,
    "length": "30 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/264710/Subnautica/"
    }]
}
---
<p>

</p>