---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle",
    "genre": "Puzzle",
    "icon": "talosprinciple-icon.jpg",
    "tier": "B",
    "tierJustification": "You're dropped in a world and you must figure out who, what, when, and why you are by reading QR codes. This is a good setup for an Epiphany Game, but it turns out your purpose is mostly just solving laser puzzles. I enjoyed getting all the stars, and hoped to unlock something deeper upon doing so, but no such luck. Some people report real-life epiphanies after reading the philosophical dialogue, but I stopped believing in gods long ago.",
    "summary": "Chewnic",
    "score": 7.5,
    "twists": 3,
    "mystery": 3,
    "agency": 2,
    "worldbuilding": 4,
    "length": "30 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/257510/The_Talos_Principle/"
    }]
}
---
<p>

</p>