---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle 2",
    "genre": "Puzzle",
    "createDate": "2026-09-17",
    "icon": "talosprinciple2-icon.png",
    "screenshot": "talosprinciple2.png",
    "tier": "NotEpiphany",
    "tierJustification": "In the first Talos Principle, you start with no knowledge of the world. In this second entry, you spend an hour learning the backstory before you even start. And, the characters in the game constantly talk to you and tell you what is happening, rather than letting you figure it out for yourself. Talos Principle 2 is a different kind of game. It is still a good puzzle game, but it is not an Epiphany Game.",
    "summary": "It's been hundreds of years since the events of the first Talos Principle, and there's a whole robot society now! Anyway, time for more puzzles.",
    "score": 7,
    "twists": 2,
    "mystery": 2,
    "agency": 2,
    "worldbuilding": 4,
    "length": "35 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/835960/The_Talos_Principle_2/"
    }]
}
---
{% from "spoiler.njk" import spoiler %}
{% from "sidenote.njk" import sidenote %}
{% from "link.njk" import externalLink %}
{% from "imagegallery.njk" import articleImage %}
<p class="big">
    This review will inevitably have spoilers for the original Talos Principle!
</p>
<p>
    The story of the original Talos Principle was fun because of the mystery of not knowing who or where you are.
    How, then, is a sequel supposed to work, if we already know who and where we are?
</p>
<p>
    <em>The Talos Principle 2</em> chooses not to force any new mysteries of identity.
    Instead, it builds upon the world that was implied at the end of the first game.
    The resulting narrative is more thorough, and less mysterious.
    Rather than learning about the world by finding notes, you can just talk to your fellow robots directly, and they will tell you what's happening.
    This is the biggest difference between the two games.
    Talos 1 drops the player right in; Talos 2 starts with an info dump.
    Talos 1 trusts the player; Talos 2 guides the player.
</p>
<p>
    Since it no longer mysterious or self-driven, <em>The Talos Principle 2</em>
    is <em>not</em> an <a href="/epiphanylist">Epiphany Game</a>.
    {%- call sidenote("sn-mysterymechanics") %}
    I suspect part of the reason Talos 2 feels less mysterious is because the puzzle mechanics aren't new.
    {% endcall -%}
</p>
<p>
    But, it is still the same puzzle game, and the puzzles are still fun.
    Line-of-sight continues to be the 
</p>
<p>
    Finding stars in Talos 1 was difficult, because they were highly varied.
    The stars in Talos 2 are simplified. There are two stars in each zone, and each is obtained in one of exactly three ways:

    No taking items outside the level
    Felt rewarded for trying to break the levels, not so here
    Human artifacts who cares
</p>
<p>
    Easier to solve maze from above than within
    The simple fact that the game is 3D makes the puzzles take longer and makes the world feel bigger
    Tetromino puzzles a waste of time
</p>
Graphics environment conceptually interesting, rather than aesthetically interestings
<p>
    As a 3D game, a significant percentage of the difficulty comes from the first-person view.
    It is a lot easier to solve a maze from above than from within.
    Often, the crux of an easy Talos Principle puzzle is simply exploring the puzzle to find all the elements.
    {%- call sidenote("sn-difficulty") %}
    There is a puzzle in the first snowy area named "Leg Up" that I was stuck on for a bit because I didn't see
    {% endcall -%}.
</p>
<p>
    {%- call sidenote("sn-difficulty") %}
    I have heard that the <em>Road to Elysium</em> DLC is more challenging,
    but I have not yet bought or played it.
    {% endcall -%}.
</p>
{{ articleImage(
    "/epiphanylist/pageassets/talosprinciple2-chief.png",
    "Screenshot of achievement for taking more than 20 minutes on a puzzle, which is not obtained",
    "Admittedly, I realized the existence of this achievement halfway through my play, and thereafter put in extra effort on hard puzzles just so I could say I'm a cool and impressive guy who never got this achievement"
) }}
<p>
    The world is massive, but empty. It looks like giving up on a cross-stitch halfway
    I don't really care about graphics, but graphics look great
</p>
<p>
    The robot civilization of <em>The Talos Principle 2</em> is populated by 1000 robots,
    all connected by their own version of social media.
    I find myself quite jealous of this configuration.
    A small tribe
</p>
<ul class="proconlist">
    <li class="positive">Puzzle mechanics are fun</li>
    <li class="subjective">More dialogue and cinematics than the first entry</li>
    <li class="negative">Narrative is not part of the puzzle</li>
    <li class="negative">World is too big</li>
</ul>

{%- call sidenote("sn-gehenna") %}
    In any video game, I prefer notes, letters, diaries, etc. to direct dialogue.
    I like the feeling of discovery.
    {% endcall %}