The Talos Principle 2 isn't an Epiphany Game
world like massive cross stithc give up halfway
Jealous of 1000 person community
The simple fact that the game is 3D makes the puzzles take longer and makes the world feel bigger