---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle 2",
    "genre": "Puzzle",
    "icon": "talosprinciple2-icon.png",
    "tier": "NotEpiphany",
    "tierJustification": "In the first Talos Principle, you start with no knowledge of the world. In this second entry, you spend an hour learning the backstory before you even start. And, the characters in the game constantly talk to you and tell you what is happening, rather than letting you figure it out for yourself. Talos Principle 2 is a different kind of game. It is still a good puzzle game, but it is not an Epiphany Game.",
    "summary": "A multi-layered scavenger hunt. Scan all the objects and ",
    "score": 7,
    "twists": 2,
    "mystery": 2,
    "agency": 2,
    "worldbuilding": 4,
    "length": "35 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/835960/The_Talos_Principle_2/"
    }]
}
---




The Talos Principle 2 isn't an Epiphany Game
world like massive cross stithc give up halfway
Jealous of 1000 person community
The simple fact that the game is 3D makes the puzzles take longer and makes the world feel bigger