---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Talos Principle",
    "tier": "C",
    "tierJustification": "You're dropped in a world and you must figure out who you are. Epiphany? Perhaps you will have a real-life epiphany along the way as you read the philosophical dialogue. But honestly, the game is mostly laser puzzles. I enjoyed getting all the stars, and hoped to unlock something deeper upon doing so, but no such luck.",
    "order": 40,
    "summary": "Chewnic",
    "score": "7.5",
    "epiphanyScore": "3.5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/257510/The_Talos_Principle/"
    }]
}
---
<p>

</p>