---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Forgotten City",
    "genre": "RPG",
    "icon": "forgottencity-icon.jpg",
    "tier": "B",
    "tierJustification": "The argument against this one being in this list is that the exploration isn't really open-ended. The Forgotten City is a straightforward go-there, talk-to-this-person RPG. That said, it's not like it's a <em>visual novel</em>, and the way the truth is slowly revealed is very enjoyable.",
    "summary": "Chewnic",
    "score": 7,
    "twists": 4,
    "mystery": 3,
    "agency": 2,
    "worldbuilding": 4,
    "length": "10 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/874260/The_Forgotten_City/"
    }]
}
---
<p>

</p>