---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Forgotten City",
    "tier": "B",
    "tierJustification": "The argument against this one being in this list is that it's not really self-driven. The Forgotten City is a straightforward go-there, talk-to-this-person RPG. That said, it's not like it's a <em>visual novel</em>, and the way the truth is slowly revealed is very enjoyable.",
    "order": 20,
    "summary": "Chewnic",
    "score": "7",
    "epiphanyScore": "6",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/874260/The_Forgotten_City/"
    }]
}
---
<p>

</p>