---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "The Witness",
    "genre": "Puzzle",
    "icon": "thewitness-icon.jpg",
    "tier": "B",
    "tierJustification": "There's one big epiphany that's <em>fucking crazy</em> and goes beyond what I as a programmer would have even thought reasonably possible in a video game. Besides that, it's just a series of small rule-discovery puzzles. Some puzzle sections include rules that are most easily learned elsewhere, so it plays like a Metroidbrainia.",
    "summary": "Chewnic",
    "score": 7.5,
    "twists": 3,
    "mystery": 3,
    "agency": 4,
    "worldbuilding": 2,
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "icon": "steam.svg",
        "url": "https://store.steampowered.com/app/210970/The_Witness/"
    }]
}
---
<p>

</p>