---
{
    "permalink": false,
    "tags": "epiphanygame",
    "layout": "epiphanygamereview.njk",
    "title": "Void Stranger",
    "tier": "B",
    "tierJustification": "I came looking for puzzles, but Void Stranger wanted me to replay the same block-pushing puzzles over and over again. There was greater potential here - I wish the game had dug deeper with its secrets. Some findings remain unexplained, even after all the wackiness of the \"true\" ending. But, the game was very memorable. The cute anime girls were unexpected and appreciated. The song that plays at the end of the (likely) first ending made me tear up.",
    "order": 30,
    "summary": "Chewnic",
    "score": "7.5",
    "epiphanyScore": "5",
    "length": "20 hours",
    "gameLinks": [{
        "text": "Steam",
        "url": "https://store.steampowered.com/app/2121980/Void_Stranger/"
    }]
}
---
<p>

</p>